#Nav2_0 .khgdhfkyth-editor_css {
}
#Nav2_0.khgdlkqt24l-editor_css {
  position: sticky;
}
#Content9_0 .home-page > .title-wrapper > .khilrheeu8r-editor_css {
  font-size: 22px;
}
#Content9_0.khim3kn3cpj-editor_css {
}
#Content9_0 .block-wrapper > .text-wrapper > .khim2scwjg7-editor_css {
  font-size: 50px;
}
#Content9_0 .block-wrapper > .text-wrapper > .khimbxcemmf-editor_css {
  font-size: 50px;
}
#Content9_0 .block-wrapper > .text-wrapper > .khimi3k3zjk-editor_css {
  font-size: 50px;
}
#Content9_0 .block-wrapper > .text-wrapper > .khimi8gwr3h-editor_css {
  font-size: 30px;
}
#Content9_0 .block-wrapper > .text-wrapper > .khim4ybp249-editor_css {
  font-size: 30px;
}
#Content9_0 .block-wrapper > .text-wrapper > .khimc3pm60r-editor_css {
  font-size: 30px;
}
#Content9_0 .image-wrapper > .name-wrapper > .khimjsn84xi-editor_css {
  font-size: 40px;
}
#Content9_0 .image-wrapper > .name-wrapper > .khimoi2gtn-editor_css {
  font-size: 40px;
}
#Content9_0 .image-wrapper > .name-wrapper > .khimomz12d-editor_css {
  font-size: 40px;
}
#Banner4_0 .home-page > .khinlfbgbl-editor_css {
}
