#Nav2_0 .khgdhfkyth-editor_css {
}
#Nav2_0.khgdlkqt24l-editor_css {
  position: sticky;
}
#Content9_0 .home-page > .title-wrapper > .khilrheeu8r-editor_css {
  font-size: 22px;
}
#Content9_0.khim3kn3cpj-editor_css {
}
#Content9_0 .block-wrapper > .text-wrapper > .khim2scwjg7-editor_css {
  font-size: 50px;
}
#Content9_0 .block-wrapper > .text-wrapper > .khimbxcemmf-editor_css {
  font-size: 50px;
}
#Content9_0 .block-wrapper > .text-wrapper > .khimi3k3zjk-editor_css {
  font-size: 50px;
}
#Content9_0 .block-wrapper > .text-wrapper > .khimi8gwr3h-editor_css {
  font-size: 30px;
}
#Content9_0 .block-wrapper > .text-wrapper > .khim4ybp249-editor_css {
  font-size: 30px;
}
#Content9_0 .block-wrapper > .text-wrapper > .khimc3pm60r-editor_css {
  font-size: 30px;
}
#Content9_0 .image-wrapper > .name-wrapper > .khimjsn84xi-editor_css {
  font-size: 40px;
}
#Content9_0 .image-wrapper > .name-wrapper > .khimoi2gtn-editor_css {
  font-size: 40px;
}
#Content9_0 .image-wrapper > .name-wrapper > .khimomz12d-editor_css {
  font-size: 40px;
}
#Banner2_1 .banner-anim > .banner-anim-elem > .khj1789bi5p-editor_css {
  display: none;
}
#Banner4_0 .home-page > .banner4-title-wrapper > .khink04m8j8-editor_css {
  display: none;
}
#Feature2_0 .ant-row > .ant-col > .khj27oxrlgo-editor_css {
  width: 450px;
}

@media screen and (max-width: 767px) {
  #Feature2_0 .ant-row > .ant-col > .khj27oxrlgo-editor_css {
    width: 550px;
  }
}
#Feature1_0.khj22se0817-editor_css {
  background-clip: padding-box;
}
#Feature2_0.khj29oibjla-editor_css {
  background-clip: padding-box;
  background-color: rgba(126, 67, 182, 0);
}
#Feature2_0 .ant-row > .ant-col > .khj27r6o4b-editor_css {
  font-size: 50px;
  color: #222222;
}
#Feature2_0 .ant-row > .ant-col > .khj27x6pfnj-editor_css {
  font-size: 18px;
  color: #404040;
}
#Feature1_0 .ant-row > .ant-col > .khj2gnjrr-editor_css {
  font-size: 50px;
  color: #222222;
}
#Feature1_0 .ant-row > .ant-col > .khj2gpjhl8-editor_css {
  font-size: 18px;
  color: #404040;
}
#Banner4_0 .home-page > .khinlfbgbl-editor_css {
  width: 100%;
}
#Banner4_0 .home-page > .banner4-title-wrapper > .khj2lhr7zom-editor_css {
  font-size: 50px;
  line-height: 3;
}
#Feature1_0 .ant-row > .ant-col > .khj26fu68eh-editor_css {
  width: 650px;
}

@media screen and (max-width: 767px) {
  #Feature1_0 .ant-row > .ant-col > .khj26fu68eh-editor_css {
    width: 550px;
  }
}
#Banner4_0.khj2jgb0nvd-editor_css {
  min-height: 204px;
}
#Banner2_1 .banner-anim > .banner-anim-elem > .khj17m8yw0d-editor_css {
  color: #fbfbfb;
  background-image: ;
  background-attachment: ;
  background-blend-mode: ;
  background-position: ;
  background-repeat: ;
  background-size: ;
  background-clip: ;
}

@media screen and (max-width: 767px) {
  #Banner2_1 .banner-anim > .banner-anim-elem > .khj17m8yw0d-editor_css {
    background-image: ;
    background-attachment: ;
    background-blend-mode: ;
    background-position: ;
    background-repeat: ;
    background-size: ;
    background-clip: ;
  }
}
#Feature4_0 ul > li > .khjvepszfrb-editor_css {
  display: none;
}
#Feature4_0 ul > li > .khjvgrsiaqn-editor_css {
  display: none;
}
#Feature4_0 ul > li > .khjvgtfz7o8-editor_css {
  display: none;
}
#Feature4_0 .ant-col > .title-wrapper > .khjvdpf6kvh-editor_css {
  font-size: 3em;
}
#Feature4_0 .ant-col > .title-wrapper > .khjvdwek56o-editor_css {
  font-size: 30px;
}
#Feature4_0 ul > li > .khjveniqu68-editor_css {
  font-size: 30px;
}
#Feature4_0 ul > li > .khjvfir6ye-editor_css {
  font-size: 30px;
}
#Feature4_0 ul > li > .khjvhfwahyf-editor_css {
  font-size: 30px;
}
#Feature4_0 ul > li > .khjve5m73y-editor_css {
  font-size: 18px;
}
#Feature4_0 ul > li > .khjvfggfj5-editor_css {
  font-size: 18px;
}
#Feature4_0 ul > li > .khjvftl3ldt-editor_css {
  font-size: 18px;
}
#Feature4_0 .ant-col > ul > .khjwdkm4xy-editor_css {
  display: block;
}
#Feature4_0 .ant-col > ul > .khjwevaf5k-editor_css {
}
#Banner0_0 .khjwi00c1bs-editor_css {
}
#Banner0_0.khjw8nygn8l-editor_css {
}
#Banner0_0 .banner0-text-wrapper > .khjwbsfmhj-editor_css {
  background-clip: padding-box;
  left: 0px;
  background-color: rgba(95, 95, 95, 0);
}
